{% extends 'base.html.twig' %}
    {% block title %}Contactos{% endblock %}
    {% block body %}
<h1>Lista de contactos</h1>
    {% if contactos %}
    {% for contacto in contactos %}
    <ul>
       {{ include('./partials/datos_contactos.html.twig', {'contacto': contacto}) }}
    </ul>
    {% endfor %}

    {% else %}
    <p> Contactos no encontrados </p>
    {% endif %}
{% endblock %}