{% extends 'base.html.twig' %}
    {% block title %}Contactos{% endblock %}
    {% block body %}
<h1>Lista de contactos</h1>
    {% if resultados %}
    {% for resultado in resultados %}
    <ul>
       {{ include('./partials/datos_contactos.html.twig', {'contacto': resultado}) }}
    </ul>
    {% endfor %}

    {% else %}
    <p> Contactos no encontrados </p>
    {% endif %}
{% endblock %}