{% extends 'base.html.twig' %}
    {% block title %}Canales y sus empresas{% endblock %}
    {% block body %}
    <h1>Canales</h1>
    <h2>Bienvenido a la web de canales.</h2>
    <p>Página de inicio</p>
{% endblock %}